{% form_theme categoryForm 'form/rows.html.twig' %}

{{ form_start(categoryForm) }}
  {{ form_errors(categoryForm) }}

  {{ form_row(categoryForm.catTitle, {
    'label': 'Category',
    'attr': {
      'placeholder': "Category name"
    }
    
  }) }}

  <div class="form-group">
      <input type="submit" class="btn btn-primary" name="submit" value="Save" />
  </div>

{{ form_end(categoryForm) }}